/* #input {
  font-size: min(10px,1em);
//   font-size:10px; 
	padding: 5px;
	margin: 30px 0 0 1px;
} */
div {
	display: inline-block;
}
/* #font-face{
  border:1px solid black;
  width:65px;
  height:-100px; 
}*/
/*
button{ 
	border-style: none;
	border-collapse: collapse;
}*/
/* span{
  border-radius:50%;
  border:1px solid black;
} */
button:hover{
  background-color: black;
  color: white;
  border-radius:5px;
	font-weight: bolder;
  border: 2px solid #EDE5E4;
/*   box-shadow: 2px 1px #888888; */
  box-shadow: 3px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#face{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#font-face:hover #face{
  display: block;
}
button:active{
  box-shadow: 3px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) inset;
  background-color: gray;
  color: black;
  border-radius:5px;
	font-weight: bolder;
  border: 2px solid #EDE5E4;
}
/*#size-dicr :hover,
#size-incr :hover {
	background-color: #ccc;
	font-weight: bolder;
}
#size-dicr ::after,
#size-incr ::after {
	color: #f00;
}
/*
#input {
	border: 2px #000 soid;
	height: 505px;
	width: 500px;
}
*/